In [110]:
import pandas as pd
import numpy as np

In [12]:
import glob

In [16]:
path = r'data/' # use your path
all_files = glob.glob(path + "/*.txt")
all_files

['data\\deaths_19992000.txt',
 'data\\deaths_20012002.txt',
 'data\\deaths_20032004.txt',
 'data\\deaths_20052006.txt',
 'data\\deaths_20072008.txt',
 'data\\deaths_20092010.txt',
 'data\\deaths_20112012.txt',
 'data\\deaths_20132014.txt',
 'data\\deaths_20152016.txt',
 'data\\deaths_20172018.txt']

In [34]:
li = []

for filename in all_files:

    df = pd.read_csv(filename, sep='\t', index_col=None, header=0)

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [27]:
#df = pd.read_csv('data/deaths_20172018.txt', sep='\t') ## Reading a single file

In [24]:
frame.head(4)

,Notes,Census Region,Census Region Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Year Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,NaN,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,55-64 years,55-64,Male,M,10.0,2240726,Unreliable
1,NaN,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Female,F,24.0,2112718,1.1
2,NaN,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Male,M,20.0,1677845,1.2
3,NaN,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,75-84 years,75-84,Female,F,71.0,1627643,4.4

In [25]:
frame.tail(4)

,Notes,Census Region,Census Region Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Year Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
124014,"7. Beginning with the 2018 data, changes have ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124015,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124016,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124017,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124018 entries, 0 to 124017
Data columns (total 14 columns):
Notes                         658 non-null object
Census Region                 123360 non-null object
Census Region Code            123360 non-null object
ICD-10 113 Cause List         123360 non-null object
ICD-10 113 Cause List Code    123360 non-null object
Year                          123360 non-null float64
Year Code                     123360 non-null float64
Ten-Year Age Groups           123360 non-null object
Ten-Year Age Groups Code      123360 non-null object
Gender                        123360 non-null object
Gender Code                   123360 non-null object
Deaths                        123360 non-null float64
Population                    123360 non-null object
Crude Rate                    123360 non-null object
dtypes: float64(3), object(11)
memory usage: 8.0+ MB

In [51]:
frame_no_nan = frame.drop(columns=['Notes'])

In [52]:
frame_no_nan.head(5)

,Census Region,Census Region Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Year Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,55-64 years,55-64,Male,M,10.0,2240726,Unreliable
1,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Female,F,24.0,2112718,1.1
2,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Male,M,20.0,1677845,1.2
3,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,75-84 years,75-84,Female,F,71.0,1627643,4.4
4,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,75-84 years,75-84,Male,M,51.0,1008566,5.1

In [59]:
frame_no_nan['Year'].unique()

array([1999., 2000.,   nan, 2001., 2002., 2003., 2004., 2005., 2006.,
       2007., 2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015.,
       2016., 2017., 2018.])

In [61]:
frame_no_nan['Year'].isnull().sum()

658

In [109]:
#frame_no_nan.to_csv('death1999_2018.csv', encoding='utf-8')
frame_no_nan4.to_csv('data/death1999_2018v4.csv', encoding='utf-8')

In [67]:
frame_no_nan2 = frame_no_nan.dropna()

In [88]:
frame_no_nan4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17098 entries, 0 to 123945
Data columns (total 9 columns):
Census Region                 17098 non-null object
ICD-10 113 Cause List         17098 non-null object
ICD-10 113 Cause List Code    17098 non-null object
Year                          17098 non-null float64
Ten-Year Age Groups           17098 non-null object
Gender                        17098 non-null object
Deaths                        17098 non-null float64
Population                    17098 non-null object
Crude Rate                    17098 non-null object
dtypes: float64(2), object(7)
memory usage: 868.3+ KB

In [70]:
frame_no_nan2['Year'].isnull().sum()

0

In [94]:
frame_no_nan2.head(3)

,Census Region,Census Region Code,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Year Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,55-64 years,55-64,Male,M,10.0,2240726,Unreliable
1,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Female,F,24.0,2112718,1.1
2,Census Region 1: Northeast,CENS-R1,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,1999.0,65-74 years,65-74,Male,M,20.0,1677845,1.2

In [107]:
frame_no_nan2['Ten-Year Age Groups Code'].unique()

array(['55-64', '65-74', '75-84', '85+', '45-54', '1', '1-4', '15-24',
       '25-34', '35-44', '5-14', 'NS'], dtype=object)

In [96]:
frame_no_nan3 = frame_no_nan2.drop(columns=['Census Region Code', 'Year Code', 'Ten-Year Age Groups Code', 'Gender Code'])

In [97]:
frame_no_nan3.head(5)

,Census Region,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Ten-Year Age Groups,Gender,Deaths,Population,Crude Rate
0,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,55-64 years,Male,10.0,2240726,Unreliable
1,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,65-74 years,Female,24.0,2112718,1.1
2,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,65-74 years,Male,20.0,1677845,1.2
3,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,75-84 years,Female,71.0,1627643,4.4
4,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,75-84 years,Male,51.0,1008566,5.1

In [99]:
frame_no_nan4 = frame_no_nan3

In [102]:
frame_no_nan4.drop(frame_no_nan4.index[frame_no_nan4['Crude Rate'] == 'Unreliable'], inplace = True)

In [103]:
frame_no_nan4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106262 entries, 1 to 123953
Data columns (total 9 columns):
Census Region                 106262 non-null object
ICD-10 113 Cause List         106262 non-null object
ICD-10 113 Cause List Code    106262 non-null object
Year                          106262 non-null float64
Ten-Year Age Groups           106262 non-null object
Gender                        106262 non-null object
Deaths                        106262 non-null float64
Population                    106262 non-null object
Crude Rate                    106262 non-null object
dtypes: float64(2), object(7)
memory usage: 5.3+ MB

In [104]:
frame_no_nan4.head(100)

,Census Region,ICD-10 113 Cause List,ICD-10 113 Cause List Code,Year,Ten-Year Age Groups,Gender,Deaths,Population,Crude Rate
1,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,65-74 years,Female,24.0,2112718,1.1
2,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,65-74 years,Male,20.0,1677845,1.2
3,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,75-84 years,Female,71.0,1627643,4.4
4,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,75-84 years,Male,51.0,1008566,5.1
5,Census Region 1: Northeast,"Certain other intestinal infections (A04,A07-A09)",GR113-003,1999.0,85+ years,Female,86.0,665957,12.9
...,...,...,...,...,...,...,...,...,...
131,Census Region 1: Northeast,Other and unspecified infectious and parasitic...,GR113-018,1999.0,35-44 years,Male,61.0,4330292,1.4
132,Census Region 1: Northeast,Other and unspecified infectious and parasitic...,GR113-018,1999.0,45-54 years,Female,64.0,3701596,1.7
133,Census Region 1: Northeast,Other and unspecified infectious and parasitic...,GR113-018,1999.0,45-54 years,Male,73.0,3494484,2.1
134,Census Region 1: Northeast,Other and unspecified infectious and parasitic...,GR113-018,1999.0,55-64 years,Female,74.0,2490616,3.0
135,Census Region 1: Northeast,Other and unspecified infectious and parasitic...,GR113-018,1999.0,55-64 years,Male,84.0,2240726,3.7

In [101]:
frame_no_nan4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123360 entries, 0 to 123953
Data columns (total 9 columns):
Census Region                 123360 non-null object
ICD-10 113 Cause List         123360 non-null object
ICD-10 113 Cause List Code    123360 non-null object
Year                          123360 non-null float64
Ten-Year Age Groups           123360 non-null object
Gender                        123360 non-null object
Deaths                        123360 non-null float64
Population                    123360 non-null object
Crude Rate                    123360 non-null object
dtypes: float64(2), object(7)
memory usage: 10.1+ MB

In [108]:
frame_no_nan2['Gender'].unique()

array(['Male', 'Female'], dtype=object)